/*=============
 导航栏与右边
 ==============*/
.right-and-order {
    width: 72%;
    background-color: #fff;
    margin-left: -3%;
}

/*=====
  推荐
 ======*/
.recommend-side {
    background-color: #feffde;
    width: 100%;
}

.side-text {
    font-size: 1.4em;
}

/*====
 通知
 =====*/
.message {
    background-color: #f5e79e;
    font-size: 1.3em;
    padding: inherit;
}

/*====
  图片框
 =====*/

.card-title {
    font-size: 2em;
}

/*.card-block {*/
    /*width: 85%;*/
/*}*/

/*.block-height {*/
    /*height: 180px;*/
/*}*/

.text-muted {
    font-size: 1.3em;
}
/*课程图*/
.folio-item .portfolio-item-meta {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 30%;
    left: -100px;
    filter: alpha(opacity=0);
    opacity: 0;
    zoom: 0.8;
    transition: all 0.5s ease-in-out;
}

.folio-item .portfolio-item-meta p {
    color: #87e9ff;
    font-size: 2em;
}

.folio-item .portfolio-item-meta h5 {
    font-size: 1.3em;
}

/* on hover */

.folio-item:hover .portfolio-item-meta {
    opacity: 1;
    zoom: 1;
}

.folio-item:hover .portfolio-item-meta {
    left: 0;
}

.folio-item:hover .item-wrap img {
    transform: scale(1.1);
    opacity: 0.5;
}
.org-slick:hover, .org-slick:active {
    color: #a3e7cf;
}
